:root {
    --mediumBlue: #3f4ef5;
    --black: #000000;
    --lightBlack: #0f0f0f;
    --white: #fff;
    --grey: #999999;
    --lightGrey: #eeeeee;
    --yellow: rgb(255, 192, 0);
    --green: #4ecfb8;
    --lightGreen: #36ebcf;
    --red: #c72323;
    --brightPink: #ff0e57;
}
