:root {
    --mediumBlue: #3751FF;
    --black: #000000;
    --lightBlack: #111111;
    --white: #fff;
    --grey: #999999;
    --lightGrey: #eeeeee;
    --yellow: rgb(255, 192, 0);
    --DarkRed: #9c0710;
}
