:root {
    --mediumBlue: #3F4EF5;
    --black: #000000;
    --lightBlack: #111111;
    --white: #fff;
    --grey: #999999;
    --lightGrey: #eeeeee;
    --yellow: rgb(255, 192, 0);
    --green: #4ecfb8;
    --red: #ff0e57;
    --brightPink: #ff0e57;
}
