@import './mixins.scss';

.events {
    width: 100%;
    height: 60vh;
    @include flexCentered();
    @include lowerCut();
}

.eventsList {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 6em 0;
    position: relative;

    * {
        color: var(--black);
    }

    h2 {
        text-align: center;
        margin-bottom: 60px;
    }

    form {
        width: 80%;
        margin: 0 auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--mediumBlue);
        padding: 1em;
        border-radius: 10px;
        @include flexAlignCenterSpaceBetween();

        input {
            padding: 0 1em;
            width: 20%;
            height: 100%;
            min-height: 45px;
            background-color: transparent;
            border-bottom: 2px solid var(--white);
            color: var(--white);
            transition: 0.4s all;

            &::placeholder {
                color: var(--white);
            }
        }

        label {
            display: block;
            height: 100%;
            line-height: 60px;
            color: var(--white);
        }

        button {
            height: 100%;
            padding: 1em 2em;
            border-radius: 10px;
            color: var(--black);
            background-color: var(--white);
        }
    }

    &_eventsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        width: 80%;
        min-width: 300px;
        height: auto;
        margin: 60px auto;

        &_event {
            @include flexDirectionColumn();
            width: 100%;
            height: auto;
            border-radius: 10px;
            position: relative;
            overflow: hidden;

            .priceTag {
                position: absolute;
                top: 1em;
                left: 1em;
                padding: 0.5em 1em;
                font-weight: 800;
                border-radius: 10px;
                color: var(--black);
                background-color: var(--lightGrey);
            }

            &_image {
                height: 200px;
            }

            &_info {
                background-color: var(--lightGrey);
                padding: 1em 0.5em;
                @include flexAlignCenterSpaceBetween();

                &_date {
                    width: 20%;
                    height: 100%;
                    text-transform: capitalize;
                    color: var(--mediumBlue);
                    font-size: 1rem;
                    font-weight: 700;
                    @include flexCentered();
                }

                &_details {
                    padding: 1em;
                    width: 80%;
                    height: 100%;

                    h4 {
                        margin-bottom: 10px;

                        a {
                            font-family: 'Anton', sans-serif !important;
                            font-weight: 400;
                            font-size: 1.2rem;
                            transition: 0.4s all ease-in-out;

                            &:hover {
                                color: var(--mediumBlue);
                            }
                        }
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
