@mixin flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexAlignCenterSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexAlignCenter {
    display: flex;
    align-items: center;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexDirectionColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexDirectionColumnVerticalSB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin lowerCut {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
}

@mixin defuseBtn($color, $opacity) {
    display: block;
    width: max-content;
    color: $color !important;
    padding: 1em 2em;
    font-weight: 700;
    background-color: rgba($color, $opacity);
    color: $color;
    text-transform: capitalize;
}

@mixin primaryBtn($color, $hoveredColor) {
    display: block;
    width: max-content;
    color: $color !important;
    padding: 1em 2em;
    font-weight: 700;
    border: 2px solid $color !important;
    background-color: transparent !important;
    transition: 0.4s ease-in-out !important;
    text-transform: capitalize;

    // &:hover {
    //     background-color: $hoveredColor !important;
    //     border: 2px solid $hoveredColor !important;
    // }
}

@mixin gridContainer($minWidth, $rowHeight) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
    grid-auto-rows: $rowHeight;
    grid-gap: 20px;
}
