@import '../../../../css/mixins.scss';

.eventSchedule {
    width: 100%;
    height: auto;
    min-height: 100vh;

    h1 {
        margin: 0;
        height: 60vh;
        color: var(--lightBlack);
        background-color: var(--lightGrey);
        @include flexCentered();
    }

    .eventScheduleContainer {
        p {
            padding: 4.5em;
        }
    }
}
