@import '../../../../css/mixins.scss';

.speakerSection {
    min-height: 100vh;
    height: auto;
    padding: 4em;

    h1 {
        text-align: center;
    }

    .speakerGridContainer {
        margin-top: 60px;
        @include gridContainer(250px, auto);

        .speaker {
            position: relative;

            .socialLinks {
                @include flexDirectionColumn();
                position: absolute;
                bottom: 5%;
                left: -5%;
                transform: translateX(-100%);

                a {
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
