@import '../../../../css/mixins.scss';

.filterWrapper {
    @include flex();

    * {
        font-size: 0.8rem;
    }

    input {
        display: block;
        width: 200px;
        height: 40px;
        margin-right: 10px;
        background-color: transparent;
        border: 1px solid var(--lightBlack);
    }

    .filterItemContainer {
        width: 150px;
        height: 40px;
        position: relative;

        .filterComponent {
            background-color: var(--lightBlack);
            padding: 0 1em;
            height: 100%;
            @include flexAlignCenterSpaceBetween();
            cursor: pointer;

            .filterStatus {
                text-transform: capitalize;
                width: max-content;
            }

            img {
                width: 20px;
                height: 20px;
                filter: invert(1);
                transition: all 0.4s ease-in-out;
            }
        }

        .filterItemsWrapper {
            position: absolute;
            top: 110%;
            right: 0;
            width: 100%;
            height: auto;
            z-index: 10;
            background-color: var(--lightBlack);
            @include flexDirectionColumn();

            span {
                width: 100%;
                height: 40px;
                padding: 0 1em;
                transition: all 0.4s ease-in-out;
                cursor: pointer;
                text-transform: capitalize;
                @include flex();

                &:hover {
                    background-color: var(--black);
                }
            }
        }
    }
}
